docs/pages/template-html/
docs/pages/template-script/
docs/pages/web-program/anime-prompt-generator-nsfw.html
docs/pages/web-program/anime-prompt-generator-semi-nsfw.html
docs/pages/web-program/anime-prompt-generator.html